<nav class="navbar navbar-expand navbar-light navbar-container bg-light flex-md-column flex-row align-items-start p-0">
  
  <a class="navbar-brand ml-4" [routerLink]="['/game/create']">BlackJack</a>

  <div class="collapse navbar-collapse ">
    <ul class="flex-md-column flex-row navbar-nav justify-content-between">
      <li class="nav-item">
        <a class="nav-link pl-0 ml-4 text-nowrap" [routerLink]="['/game/create']">Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-0 ml-4 text-nowrap" [routerLink]="['/history']">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pl-0 ml-4 text-nowrap" (click)="openModalWithComponent()">Logout</a>
      </li>
    </ul>
  </div>

</nav>