<div class='container-fluid'>

  <div class='row justify-content-center align-items-center'>
    <div class='col-4'>

      <form class="form-signin" [formGroup]="loginForm" (submit)="onSubmit()">
        <div class="container-fluid">
          <h1 class=' row justify-content-center form-signin-heading'>BlackJack</h1>

          <div class='row justify-content-center'><img  src="../../assets/images/deck/1_11.png"></div>
          
          <div *ngIf="isControlInvalid('email')" class="alert alert-danger" >Invalid username.</div>
          <input type="email" id="email" name="email" list="names" formControlName="email"
            placeholder="Еnter your name" />
          <datalist id="names">
            <option *ngFor="let name of userNames"> {{name}} </option>
          </datalist>

          <div *ngIf="isControlInvalid('password')" class="alert alert-danger">Invalid password.</div>
          <!-- <div *ngIf="isControlInvalid(password)" class="alert alert-danger">Authorisation Error. Invalid password.</div> -->
          <input type="password" id="password" name="password" formControlName="password"
            placeholder="Еnter your password">
          <button class="btn btn-primary btn-block justify-content-center" type="submit" [disabled]="loginForm.invalid">Sign in</button>
        </div>
      </form>
      
    </div>
  </div>

</div>