
table {
  table-layout: fixed;
  word-wrap: break-word;
  margin-top: 2rem;
}

.index {
  width: 15%;
  min-width: 6rem;
  column-rule-width: 6rem;
}
.create-data {
  width: 35%;
  min-width: 14rem;
}
.num-of-player {
  width: 25%;
  min-width: 10rem;
}
.result{
  width: 25%;
  min-width: 10rem;
}

.index,.create-data ,.num-of-player,.result{
    text-align: center;
    word-wrap : break-word;
}